body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    color: white;
    font-family: 'Press Start 2P', sans-serif;
}

.game-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url('../../images/game-background.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0;
    padding: 10px;
}