body {
    width: 100%;
    height: 100vh;
    /* background-image: url('../../images/login-background.png');
    background-position: center;
    background-size: contain; */
}

.login-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    right: 30%;
    opacity: .9;
    padding: 48px 12px;
}

.regForm-container {
    width: 400px;
    display: block;
    text-align: left;
    background-color: #EDF0F3;
    box-shadow: 3px 5px 8px grey;
    padding: 0 0 24px;
    margin: 0 auto;
    border-radius: 3px;
}

.regForm-title {
    line-height: 32px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.85);
    font-size: 26px;
    background: #F6F8FA;
    text-align: center;
    padding: 16px 32px 8px 32px;
    margin: 0;
    border: 0;
}

.regForm-subtitle {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    font-size: 17px;
    background: #F6F8FA;
    text-align: center;
    padding: 0 8px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.regForm-inputs>input {
    display: block;
    width: 352px;
    height: 32px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.85);
    background: #fff;
    margin: 0 24px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.regForm-inputs>label {
    display: block;
    width: 352px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.85);
    margin: 8px 24px 4px;
}

.regForm-inputs>label:first-of-type {
    margin-top: 16px;
}

.regForm-agreement {
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.55);
    margin: 16px 16px 8px;
}

.regForm-inputs>.regForm-button {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    width: 352px;
    height: 32px;
    font-size: 1em;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    background-color: #0084bf;
    outline-width: 2px;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    padding: 0 16px;
    margin: 8px 24px 4px;
}